* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: black;
  color: var(--color-text);
}

html {
  --color-primary: rgb(85, 38, 129);
  --color-text: white;


}

body.dark {
  --color-primary: rgb(85, 38, 129);
  --color-text: white;
}

body.light{
  --color-primary: #ffffff
  --color-text: rgb(85, 38, 129);
}

.container {
  color: aliceblue;
  border: 5px solid var(--color-primary);
  width: 400px;
  height: 900px;
  margin-block: 20px;
  margin-inline: auto;
  text-align: center;
  align-items: center;
  padding-bottom: 30px;
}

img {
  width: 100%;
}
img.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-block: 35px;
  padding: 3.7px;
  border: var(--color-primary) solid 4px;
}

h1 {
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 35px;
font-family: 'Rubik Moonrocks', cursiva;: 'Rubik Moonrocks', cursiva;
}

p {
  color: var(--color-text);
  margin-top: 9px;
  margin-bottom: 40px;
  font-size: 20px;
  opacity: 0.4;
}

ul {
  list-style: none;
  margin: 45px 0;
}

li :hover {
  background: rgb(71, 27, 112);
}

a {
  text-decoration: none;
}

ul li a {
  width: 45%;
  height: 60px;
  font-size: 14px;
  line-height: 60px;

  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  margin-inline: auto;
  margin-bottom: 16px;

  border-radius: 6px;
  background-color: var(--color-primary);

  text-decoration: uppercase;
  letter-spacing: 5px;

  transition: 100ms;
}
footer {
  margin-top: 50px;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}
